- name: {{ frameworkName }}
  patches:
  - op: add
    path: /deploy/kubectl/manifests/1
    value:
      .k8s/generated/**/{{ frameworkName }}/*.yaml
- name: {{ framework }}
  patches:
  - op: add
    path: /deploy/kubectl/manifests/1
    value:
      .k8s/generated/**/{{ frameworkName }}/*{{ frameworkVersion }}.yaml
