*.pyc
*.log
*.egg
*.db
*.pid
*.swp
.coverage*
.DS_Store
.idea
.vscode
.benchmarks
pip-log.txt
/*.egg-info
/build
/cover
/dist
/example_project/local_settings.py
/docs/html
/docs/doctrees
/example_project/*.db
tests/.schemacache
coverage
.tox
.eggs
.cache
/testdb.sql
venv
benchmarks/result*
coverage.xml
tests/*-junit.xml
*.code-workspace
.pytest_cache/
.python-version
.env
.aws
.arn-file.md
