*.pyc
*.log
*.egg
*.db
*.pid
.coverage
.DS_Store
.idea
pip-log.txt
/*.egg-info
/build
/cover
/dist
/example_project/local_settings.py
/docs/html
/docs/doctrees
/example_project/*.db
opbeat/utils/wrapt/_wrappers.so
coverage