*.pyc
*.log
*.egg
*.db
*.pid
.coverage*
.DS_Store
.idea
.vscode
.benchmarks
pip-log.txt
/*.egg-info
/build
/cover
/dist
/example_project/local_settings.py
/docs/html
/docs/doctrees
/example_project/*.db
tests/.schemacache
elasticapm/utils/wrapt/_wrappers*.so
coverage
.tox
.eggs
.cache
/testdb.sql
venv
benchmarks/result*
coverage.xml
tests/python-agent-junit.xml
*.code-workspace
.pytest_cache/
.python-version
.env
