sudo: false
dist: xenial
language: python
python:
- nightly
- "3.5"
- "3.6"

env:
  global:
  - PIP_CACHE="$HOME/.pip_cache"'
  - RUN_SCRIPT="./travis/run_tests.sh"
  - POSTGRES_DB=elasticapm_test
  - TWINE_USERNAME=piquadrat
  matrix:
  - WEBFRAMEWORK=django-master
  - WEBFRAMEWORK=flask-master

matrix:
  exclude:
  allow_failures:
  - env: WEBFRAMEWORK=django-master
  - env: WEBFRAMEWORK=flask-master
  - python: nightly
  include:
  - stage: build
    if: tag =~ ^v\d # only build if this is a version-tag
    dist: trusty
    python: "3.6"
    sudo: required
    services:
      - docker
    script:
      - pip install cibuildwheel==0.8.0
      - cibuildwheel --output-dir wheelhouse/
      - python -m pip install twine
      - python setup.py sdist
      - python -m twine upload --skip-existing --repository-url https://upload.pypi.org/legacy/ dist/*.tar.gz
      - python -m twine upload --skip-existing --repository-url https://upload.pypi.org/legacy/ wheelhouse/*.whl
    env:
      - CIBW_ENVIRONMENT="PIP_CACHE=/host/.pip"
      - CIBW_BEFORE_BUILD="rm -rf build elastic_apm.egg-info tests"
      - CIBW_SKIP=cp33
#      - CIBW_TEST_REQUIRES="pytest pytest-django mock pytest-catchlog"
#      - CIBW_BEFORE_BUILD="yum -y install zeromq-devel libevent-devel && {pip} install -r tests/requirements/requirements-base.txt --cache-dir /host/.pip"
#      - CIBW_TEST_COMMAND="cd {project} && py.test -m 'not integrationtest' {project}/tests --ignore={project}/tests/asyncio"
    after_script:

stages:
  - linters
  - test
  - build

before_script:
- psql -c 'create database elasticapm_test;' -U postgres
- mkdir -p "$PIP_CACHE"
- mkdir -p wheelhouse
script:
- bash $RUN_SCRIPT

addons:
  apt:
    sources:
     - mongodb-3.0-precise
    packages:
     - libevent-dev
     - libzmq3-dev
     - mongodb-org-server
     - xsltproc
     - libxml2-utils
  postgresql: '9.4'
cache:
  directories:
  - "$HOME/.pip_cache"

notifications:
  email: false
  slack:
    secure: LcTTbTj0Px0/9Bs/S/uwbhkdULlj1YVdHnU8F/kOa3bq2QdCTptqB719r6BnzHvW+QGyADvDZ25UncVXFuLuHY67ZYfmyZ/H2cj0nrRSuYdPct0avhVbT/3s50GlNWK5qkfZDuqw6szYTFrgFWJcr5dl7Zf6Vovcvd38uaYOdno=
services:
  - redis-server
  - memcached
  - mongodb
  - mysql
  - postgresql
