py==1.4.26
pytest==2.6.4
pytest-capturelog==0.7
pytest-django==2.7.0

Flask
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
amqp
anyjson
argparse
billiard
blinker>=1.1
celery
django-celery
greenlet
itsdangerous
kombu
mock
msgpack-python
pep8

pytz
pyzmq==13.1.0
