pytest==2.6.2
pytest-capturelog==0.7
pytest-django==2.6.2

Flask
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
amqp
anyjson
argparse
billiard
blinker>=1.1
celery
django-celery
gevent
greenlet
itsdangerous
kombu
mock
msgpack-python
pep8
py

pytz
pyzmq==13.1.0
unittest2
zerorpc
