py==1.4.26
pytest==2.6.4
pytest-capturelog==0.7
pytest-django==2.8.0
pytest-benchmark==2.5.0

Flask
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
amqp
anyjson
argparse
billiard
blinker>=1.1
celery
django-celery
greenlet
itsdangerous
kombu
mock
msgpack-python
pep8
redis
urllib3
psycopg2

pytz
pyzmq==13.1.0
