apiVersion: batch/v1
kind: Job
metadata:
  name: "apm-agen-python-{{ version }}-none"
  labels:
    repo: "apm-agent-python"
    type: "unit-test"
    version: "{{ version }}"
    framework: "none"
spec:
  ttlSecondsAfterFinished: 0
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: "{{ name }}"
        command: [ "tests/scripts/run_tests.sh" ]
        env:
        - name: WEBFRAMEWORK
          value: "none"
