apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ git_user }}-apm-agen-python-{{ version | replace(".", "-") }}"
  labels:
    repo: "apm-agent-python"
    type: "unit-test"
    version: "{{ version }}"
    framework: "none"
    user.repo: "{{ git_user }}"
spec:
  ttlSecondsAfterFinished: 60
  backoffLimit: 0
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: "{{ name | replace(".", "-") }}"
        image: "apm-agent-python-{{ version }}"
        command: [ "echo hi" ]
