apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ git_user }}-apm-agen-python-{{ pythonVersion | replace(".", "-") }}-{{ framework | replace(".", "-") | replace("_", "-") }}"
  labels:
    repo: "apm-agent-python"
    type: "unit-test"
    version: "{{ pythonVersion }}"
    framework: "{{ framework }}"
    user.repo: "{{ git_user }}"
spec:
  ttlSecondsAfterFinished: {{ ttl }}
  backoffLimit: 0
  activeDeadlineSeconds: 300
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: "python-{{ pythonVersion | replace(".", "-") }}"
        image: "apm-agent-python-{{ pythonVersion }}"
        command: [ "tests/scripts/run_tests.sh" ]
        env:
        - name: WEBFRAMEWORK
          value: "{{ framework }}"
