- name: {{ name }}
  patches:
  - op: add
    path: /build/artifacts/1
    value:
      image: apm-agent-python-{{ version }}
      context: .
      docker:
        dockerfile: ".k8s/Dockerfile"
        buildArgs:
          PYTHON_VERSION: "{{ version }}"
  - op: add
    path: /deploy/kubectl/manifests/1
    value:
      .k8s/generated/{{ version }}/**

