py==1.4.34
pytest==3.2.1
pytest-catchlog==1.2.2
pytest-django==3.1.2

pytest-benchmark==3.1.1
docutils==0.14
pathlib==1.0.1
py-cpuinfo==3.3.0
statistics==1.0.3.5

urllib3
certifi
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
amqp==1.4.9
anyjson
argparse
billiard
blinker>=1.1
boto3
celery<4
greenlet
itsdangerous
kombu<4
mock
msgpack-python
pep8
redis
requests
urllib3-mock
pymongo
Twisted

pytz
