pytest==3.10.1
py==1.7.0
more-itertools==4.1.0
pluggy==0.8.0
pytest-django==3.4.4
atomicwrites==1.1.5
coverage==4.5.2
pytest-cov==2.6.0
pytest-localserver==0.5.0
pytest-mock==1.10.0
pytest-benchmark==3.1.1
jsonschema==2.6.0

docutils==0.14
pathlib==1.0.1
py-cpuinfo==3.3.0
statistics==1.0.3.5

urllib3
certifi
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
anyjson
argparse
blinker>=1.1
greenlet
itsdangerous
mock
msgpack-python
pep8
urllib3-mock
pytz


aiohttp ; python_version >= '3.5'
pytest-asyncio ; python_version >= '3.5'
asynctest==0.12.2 ; python_version >= '3.5'

cachetools==2.0.1 ; python_version == '2.7'
