pytest==4.6.5
py==1.8.0
more-itertools==4.1.0
pluggy==0.13.0
pytest-django==3.5.1
atomicwrites==1.1.5
coverage==4.5.4
pytest-cov==2.7.1
pytest-localserver==0.5.0
pytest-mock==1.10.4
pytest-benchmark==3.2.2
jsonschema==2.6.0
configparser==4.0.2
contextlib2==0.6.0
importlib-metadata==0.23
packaging==19.2


docutils==0.14
pathlib==1.0.1
py-cpuinfo==3.3.0
statistics==1.0.3.5

urllib3
certifi
Jinja2
Logbook
MarkupSafe
WebOb
Werkzeug
anyjson
argparse
blinker>=1.1
greenlet
itsdangerous
mock
msgpack-python
pep8
urllib3-mock
pytz


pytest-asyncio ; python_version >= '3.5'
asynctest==0.12.2 ; python_version >= '3.5'

cachetools==2.0.1 ; python_version == '2.7'
