name: "Issue Labeler"
on:
  issues:
    types: [opened]
  pull_request_target:
    types: [opened]

# 'issues: write' for https://docs.github.com/en/rest/issues/labels?apiVersion=2022-11-28#add-labels-to-an-issue
permissions:
  contents: read
  issues: write

jobs:
  triage:
    runs-on: ubuntu-latest
    steps:
    - name: Add agent-python label
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: agent-python
    - id: is_elastic_member
      uses: elastic/apm-pipeline-library/.github/actions/is-member-elastic-org@current
      with:
        username: ${{ github.actor }}
        token: ${{ secrets.APM_TECH_USER_TOKEN }}
    - name: Add community and triage labels
      if: contains(steps.is_elastic_member.outputs.result, 'false') && github.actor != 'dependabot[bot]' && github.actor != 'apmmachine'
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels:
          - community
          - triage
