name: packages

on:
  workflow_call: ~
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.asciidoc'
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.asciidoc'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/packages/action.yml
