name: packages

on:
  workflow_call: ~
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '**/*.asciidoc'
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.asciidoc'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Override the version if there is no tag release.
        run: |
          if [[ "${GITHUB_REF}" != refs/tags/* ]]; then
            echo "ELASTIC_CI_POST_VERSION=${{ github.run_id }}" >> "${GITHUB_ENV}"
          fi
      - name: Install wheel
        run: pip install --user wheel
      - name: Building universal wheel
        run: python setup.py bdist_wheel
      - name: Building source distribution
        run: python setup.py sdist

      - name: Debug env variables
        run: |
          env | sort
          echo "$ELASTIC_CI_POST_VERSION"
          echo "$GITHUB_REF"
          ls -l ./dist
      - name: Upload Packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: |
            dist/*.whl
            dist/*tar.gz
