---
# Publish a snapshot. A "snapshot" is a packaging of the latest *unreleased* APM agent,
# published to a known GCS bucket for use in edge demo/test environments.
name: snapshoty

on:
  workflow_run:
    workflows:
      - test
    types:
      - completed
    branches:
      - main

jobs:
  packages:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/packages.yml
  upload:
    needs:
      - packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: packages
          path: dist
      - name: Publish snaphosts
        uses: elastic/apm-pipeline-library/.github/actions/snapshoty-simple@current
        with:
          config: '.ci/snapshoty.yml'
          vaultUrl: ${{ secrets.VAULT_ADDR }}
          vaultRoleId: ${{ secrets.VAULT_ROLE_ID }}
          vaultSecretId: ${{ secrets.VAULT_SECRET_ID }}
